.hotel-item {
background-color: white;
width: 72%;
margin: 0 auto;
margin-top: 20px;
margin-bottom: 20px;
padding: 10px 10px 5px 10px;
font-family: "Montserrat", Arial, sans-serif;
overflow: hidden;
box-shadow: 0 0 10px rgba(0,0,0,0.5);
border-radius: 4px;
}
.large{
  font-size: 50px;
}
.mid{
  font-size: 25px;
}
.icon_green{
  color: #00a550;
}
.btn-comment{
  margin-top: 0px;
}
.btn-comment:hover{
  box-shadow: 0 0 10px rgba(0,0,0,0.5);
}
.hotel_img{
  display: block;
  width: 500px;
  height: 500px;
  margin: auto;
  border-radius: 4px;
}
.card_title{
font-size: x-large;
font-family: "Montserrat", Arial, sans-serif;
font-weight: bold;
color: #162546;
}
.card_info_text{
font-size: large;
font-family: "Montserrat", Arial, sans-serif;
color: #162546;
}
.info_block{
  margin-left: 20px;
  margin-top: 20px;
}
.bck_white{
  background-color: rgba(255,255,255,0.8);
  border-radius: 4px;
}
.price{
  font-size: large;
  font-family: "Montserrat", Arial, sans-serif;
  color: #162546;
  font-style: italic;
}
#reviewStars-input input:checked ~ label, #reviewStars-input label, #reviewStars-input label:hover, #reviewStars-input label:hover ~ label {
    background: url('http://positivecrash.com/wp-content/uploads/ico-s71a7fdede6.png') no-repeat;
}

#reviewStars-input {

    /*fix floating problems*/
    overflow: hidden;
    *zoom: 1;
    /*end of fix floating problems*/

    position: relative;
    float: left;
}

#reviewStars-input input {
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
    opacity: 0;

    width: 43px;
    height: 40px;

    position: absolute;
    top: 0;
    z-index: 0;
}

#reviewStars-input input:checked ~ label {
    background-position: 0 -40px;
    height: 40px;
    width: 43px;
}

#reviewStars-input label {
    background-position: 0 0;
    height: 40px;
    width: 43px;
    float: right;
    cursor: pointer;
    margin-right: 10px;

    position: relative;
    z-index: 1;
}

#reviewStars-input label:hover, #reviewStars-input label:hover ~ label {
    background-position: 0 -40px;
    height: 40px;
    width: 43px;
}

#reviewStars-input #star-0 {
    left: 0px;
}
#reviewStars-input #star-1 {
    left: 53px;
}
#reviewStars-input #star-2 {
    left: 106px;
}
#reviewStars-input #star-3 {
    left: 159px;
}
#reviewStars-input #star-4 {
    left: 212px;
}
#reviewStars-input #star-5 {
    left: 265px;
}
