
{box-sizing: border-box;}
.hotel-item {
width: 420px;
background-color: white;
margin: 0 auto;
margin-top: 20px;
margin-bottom: 20px;
padding: 10px 10px 5px 10px;
border: 2px solid #1783ff;
font-family: "Montserrat", Arial, sans-serif;
overflow: hidden;
box-shadow: 0 0 10px rgba(0,0,0,0.5);
border-radius: 4px;
/*ransition: .4s linear;*/
}
/*.hotel-img {transition: 1s ease-in-out;}
.hotel-img:hover {transform: scale(1.1);} */
.hotel-img img {
max-width: 400;
max-height: 300;
display: block;
margin: 0,0,0,0;

}
.hotel-list {margin-top: 10px;}
.hotel-list h3 {
font-weight: 700;
color: #39404B;
margin: 0,0,0,0;
text-transform: uppercase;
font-size: 14px;
line-height: 2;
}
.price {
color: #E34D38;
display: block;
margin-bottom: 12px;
font-family: "Montserrat", Arial, sans-serif;
}
.stars {
height: 14px;
line-height: 14px;
margin: 7px 0;
position: relative;
align-content: center;
}
.stars:before {
content: "\f005\f005\f005\f005\f005"; /*f006 - half*/
color: #EFB71C;
font-size: 24px;
font-family: FontAwesome;
position: relative;
align-content: center;
}
.view-button {
text-decoration: none;
text-align: center;
color: #8C877C;
font-size: 20px;
padding-right: 10px;
width: 20%;
position: relative;
left: 70%;
right: 10%;
/*border-right: 1px solid #ddd;
border-left: 1px solid #ddd; */
transition: .4s linear;
font-family: "Montserrat", Arial, sans-serif;
}
h3{
text-align: center;
color: #8C877C;
font-size: 20px;
margin: 0,0,0,0;
font-weight: bold;

}
.box {    margin-top: 150px;
          display: flex;
          flex-wrap: wrap;
        }

        .box>* {
          flex: 1 1 200px;
        }
.footer_text{
    font-family: "Montserrat", Arial, sans-serif;
    font-weight: bold;
    font-size: 24px;
    text-align: center;
    color: white;
    margin: 0,0,0,0;

}
footer{
  margin-top: 10px;
  height: 60px;
  background-color: rgba(0, 0, 0, 0.1);
}
p{
  color: #8C877C;
  font-size: 20px;
  margin: 0,0,0,0;
  font-weight: bold;
  text-align: center;

}
