.registration-form {
    font-size: x-large;
    padding-bottom: 10px;
}

.text-padding {
    padding-left: 50px;
    padding-right: 50px;
}

.link-color {
    color: #007bff;
    font-size: small;
    padding-left: 10px;
}

.logo {
    font-size: xx-large;
}

.btn-center {
    width: 30%;
}

.div-center {
    text-align: center;
}

.checkbox-zoomer {
    zoom: 130%;
}

._middle label {
    vertical-align: middle;
}

.form-control-address {
    width: 15%;
    background: #f2f2f2;
    padding: 0.5rem 0.75rem;
    font-size: 1rem;
    line-height: 1.25;
    color: #495057;
    background-clip: padding-box;
    border: 1px solid rgba(0, 0, 0, 0.15);
    border-radius: 0.25rem;
    -webkit-transition: border-color ease-in-out 0.15s, -webkit-box-shadow ease-in-out 0.15s;
    transition: border-color ease-in-out 0.15s, -webkit-box-shadow ease-in-out 0.15s;
    -o-transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
    transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
    transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s, -webkit-box-shadow ease-in-out 0.15s;
}

.form-control-price {
    width: 10%;
    background: #f2f2f2;
    padding: 0.5rem 0.75rem;
    font-size: 1rem;
    line-height: 1.25;
    color: #495057;
    background-clip: padding-box;
    border: 1px solid rgba(0, 0, 0, 0.15);
    border-radius: 0.25rem;
    -webkit-transition: border-color ease-in-out 0.15s, -webkit-box-shadow ease-in-out 0.15s;
    transition: border-color ease-in-out 0.15s, -webkit-box-shadow ease-in-out 0.15s;
    -o-transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
    transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
    transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s, -webkit-box-shadow ease-in-out 0.15s;
}

.form-control::-ms-expand {
    background-color: transparent;
    border: 0;
}

.form-control:focus {
    color: #495057;
    background-color: #fff;
    border-color: #1d82ff;
    outline: none;
}

.form-control::-webkit-input-placeholder {
    color: #868e96;
    opacity: 1;
}

.form-control:-ms-input-placeholder {
    color: #868e96;
    opacity: 1;
}

.form-control::placeholder {
    color: #868e96;
    opacity: 1;
}

.form-control:disabled, .form-control[readonly] {
    background-color: #e9ecef;
    opacity: 1;
}

#reviewStars-input input:checked ~ label, #reviewStars-input label, #reviewStars-input label:hover, #reviewStars-input label:hover ~ label {
    background: url('http://positivecrash.com/wp-content/uploads/ico-s71a7fdede6.png') no-repeat;
}

#reviewStars-input {

    /*fix floating problems*/
    overflow: hidden;
    *zoom: 1;
    /*end of fix floating problems*/

    position: relative;
    float: left;
}

#reviewStars-input input {
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
    opacity: 0;

    width: 43px;
    height: 40px;

    position: absolute;
    top: 0;
    z-index: 0;
}

#reviewStars-input input:checked ~ label {
    background-position: 0 -40px;
    height: 40px;
    width: 43px;
}

#reviewStars-input label {
    background-position: 0 0;
    height: 40px;
    width: 43px;
    float: right;
    cursor: pointer;
    margin-right: 10px;

    position: relative;
    z-index: 1;
}

#reviewStars-input label:hover, #reviewStars-input label:hover ~ label {
    background-position: 0 -40px;
    height: 40px;
    width: 43px;
}

#reviewStars-input #star-0 {
    left: 0px;
}

#reviewStars-input #star-1 {
    left: 53px;
}

#reviewStars-input #star-2 {
    left: 106px;
}

#reviewStars-input #star-3 {
    left: 159px;
}

#reviewStars-input #star-4 {
    left: 212px;
}

#reviewStars-input #star-5 {
    left: 265px;
}

.main {
    background: inherit;
    width: 250px;
    height: 350px;
    overflow: hidden; /*добавил новое правило*/
}

.main:before {
    content: '';
    width: 300px;
    height: 400px;
    background: inherit;
    left: -25px;
    top: -25px;
    box-shadow: inset 0 0 0 200px rgba(255, 255, 255, 0.3);
    filter: blur(10px);
}

.form {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 30;
    text-align: center;
}

.form--ava {
    position: absolute;
    top: 30px;

}

.form--ava img {
    width: 90px;
    height: 90px;
    border-radius: 50%;
}

.form--desc {
    background: #d9cacd;
    top: 140px;
    align-items: center;
}

.form--desc input {
    background: 0;
    border: none;
    border-bottom: 1px solid #fff;
    color: #fff;
    height: 40px;
    outline: none;
    font-size: 16px;
    margin-bottom: 20px;
}

.form--desc input::placeholder {
    color: #ffffff;
    font-size: 16px;
}

.form--desc button {
    background-color: #df2359;
    color: #fff;
    border: none;
    width: 100%;
    height: 40px;
    font-size: 14px;
    text-transform: uppercase;
    border-radius: 5px;
}

.form--desc button:hover {
    background-color: #b31d47;
    cursor: pointer;
}

.form--desc a {
    font-size: 12px;
    color: #fff;
    text-decoration: none;
    margin-top: 20px;
}

.container-my {
    margin-right: auto;
    margin-left: auto;
    padding-right: 15px;
    padding-left: 15px;
    width: 100%;
}

@media (min-width: 576px) {
    . container {
        max-width: 540px;
    }
}

@media (min-width: 768px) {
    .container {
        max-width: 720px;
    }
}

@media (min-width: 992px) {
    .container {
        max-width: 960px;
    }
}

@media (min-width: 1200px) {
    .container {
        max-width: 1140px;
    }
}

.img-border {
    margin-left: 15px;
    margin-right: 20px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}

.image {
    position: relative;
    width: 100%; /* for IE 6 */
}

.star-padding {
    padding-top: 20px;
    padding-right: 35px;
    padding-left: 20px;
    margin-bottom:0px;
}

.col-2_5 {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 20%;
    -ms-flex: 0 0 20%;
    flex: 0 0 20%;
    max-width: 20%;
}

.form-group-address {
    margin-bottom: 0.40rem;
}

.star-reducer {
    zoom: 65%;
}

.hotels-label {
    margin-left: 30px;
    margin-right: 15px;
    font-size: 28px;
    color: black;
    text-align: center;
}

.pb_form_v1_landing {
    padding: 25px;
    -webkit-box-shadow: 1px 11px 68px -20px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 1px 11px 68px -20px rgba(0, 0, 0, 0.75);
    box-shadow: 1px 11px 68px -20px rgba(0, 0, 0, 0.75);
}

.landing-words {
    margin-top: 10%;
    float: right;
    margin-right: 15%;
}

@media (max-width: 991px) {

    .hotels-title-color {
        color: #fbf8ff;
        font-size: 24px;
    }

    .pb_form_v1 {
        padding: 30px;
    }
}

.landing-main-part{
    margin-top: 0;
}

.landing-best-part{
    margin-top: 26%;
    margin-left: 15%;
}

.bg-landing{
    background-image:url('../images/landing.jpg');width:100%;height:100%;border:1px solid black;
    background-repeat: no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}