.row.align-content-between.justify-content-center
  .col-md-6.relative.align-self-center
    = form_for(resource, as: resource_name, url: session_path(resource_name), html: { class: "bg-white pb_form_v1" }) do |f|
      .registration-form
        %tr
          %td
            = link_to new_user_session_path do
              %text.pb_text-gray-900.text-padding Log in
          %td
            = link_to new_user_registration_path do
              %text.pb_text-gray-400.text-padding Registration
        #error_explanation
          = alert
      %br/
      .form-group
        = f.email_field :email, autofocus: true, autocomplete: "email", placeholder: "Email", class: "form-control pb_height-50 reverse"
      .form-group
        = f.password_field :password, autocomplete: "off", placeholder: "Password", class: "form-control pb_height-50 reverse"
        = link_to new_password_path(resource_name) do
          %text.link-color Forgot your password?
      .form-control-lg
        = f.check_box :remember_me, class: "form-check-inline"
        %text.small Remember me
      .form-group
        = f.submit "Sign in", class: "btn btn-danger btn-lg btn-block pb_btn-pill btn-shadow-blue"