.row.align-content-between.justify-content-center
  .col-md-6.relative.align-self-center
    = form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :put, class: "bg-white pb_form_v1" }) do |f|
      = f.hidden_field :reset_password_token
      .registration-form
        %h2.text-center
          Change your password
        = devise_error_messages!
      %br/
      .form-group
        = f.password_field :password, autofocus: true, autocomplete: "off", placeholder: "Password", class: "form-control pb_height-50 reverse"
      .form-group
        = f.password_field :password_confirmation, autocomplete: "off", placeholder: "Confirm password", class: "form-control pb_height-50 reverse"
      .form-group
        = f.submit "Change my password", class: "btn btn-danger btn-lg btn-block pb_btn-pill btn-shadow-blue"