.row.align-content-between.justify-content-center
  .col-md-6.relative.align-self-center
    = form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post, class: "bg-white pb_form_v1" }) do |f|
      .registration-form
        %h2.text-center
          Forgot your password?
        = devise_error_messages!
      %br/
      .form-group
        = f.email_field :email, autofocus: true, autocomplete: "email", placeholder: "Email", class: "form-control pb_height-50 reverse"
      .form-group
        = f.submit "Send me reset password instructions", class: "btn btn-danger btn-lg btn-block pb_btn-pill btn-shadow-blue"