@font-face {
  font-family: "Ionicons";
  src: url("/ionicons/fonts/ionicons.eot?v=2.0.0");
  src: url("/ionicons/fonts/ionicons.eot?v=2.0.0#iefix") format("embedded-opentype"), url("/ionicons/fonts/ionicons.ttf?v=2.0.0") format("truetype"), url("/ionicons/fonts/ionicons.woff?v=2.0.0") format("woff"), url("/ionicons/fonts/ionicons.svg?v=2.0.0#Ionicons") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'FontAwesome';
  src: url("/fontawesome/fonts/fontawesome-webfont.eot?v=4.7.0");
  src: url("/fontawesome/fonts/fontawesome-webfont.eot?#iefix&v=4.7.0") format("embedded-opentype"), url("/fontawesome/fonts/fontawesome-webfont.woff2?v=4.7.0") format("woff2"), url("/fontawesome/fonts/fontawesome-webfont.woff?v=4.7.0") format("woff"), url("/fontawesome/fonts/fontawesome-webfont.ttf?v=4.7.0") format("truetype"), url("/fontawesome/fonts/fontawesome-webfont.svg?v=4.7.0#fontawesomeregular") format("svg");
  font-weight: normal;
  font-style: normal; }
