.hotel-item {
    width: 100%;
    height: 180px;
    background-color: white;
    margin: 20px auto;
    padding: 10px 10px 5px 10px;
    font-family: "Montserrat", Arial, sans-serif;
    overflow: hidden;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    border-radius: 4px;
    /*ransition: .4s linear;*/
}

.hotel-img img {
    float: left;
    width: 150px;
    height: 150px;
    display: block;
    margin: 5px 30px 5px 5px;

}

.hotel-list {
    margin-top: 10px;
    display: inline-block;
}

.hotel-list h3 {
    font-weight: 700;
    color: #39404B;
    margin: 0;
    text-transform: uppercase;
    font-size: 14px;
    line-height: 2;
}

.price {
    color: #E34D38;
    display: block;
    margin-bottom: 12px;
    font-family: "Montserrat", Arial, sans-serif;
}

.star {
    height: 14px;
    line-height: 14px;
    margin: 7px 0;
    display: inline-block;
}

.star:before {
    content: "\f005"; /*f006 - half*/
    color: #EFB71C;
    font-size: 24px;
    font-family: FontAwesome, serif;
}

.star-blank {
    height: 14px;
    line-height: 14px;
    margin: 7px 0;
    display: inline-block;
}

.star-blank:before {
    content: "\f005"; /*f006 - half*/
    color: #bebbaa;
    font-size: 24px;
    font-family: FontAwesome, serif;
}

.pb_cover_v3 .view-button {
    text-decoration: none;
    text-align: center;
    float: right;
    color: black;
    font-size: 20px;
    padding-right: 10px;
    margin-top: 120px;
    transition: .4s linear;
    font-family: "Montserrat", Arial, sans-serif;
}

.pb_cover_v3 .view-button:hover {
    text-decoration: underline;
    color: black
}

h3 {
    color: #8C877C;
    font-size: 24px;
    font-weight: bold;
    text-align: center;
    margin: 150px 0 0;

}

.box {
    margin-top: 150px;
    display: flex;
    flex-wrap: wrap;
}

.icon-food {
    display: inline-block;
}

.main_block {
    margin-top: 200px;
    position: relative;
    left: 10%;
    right: 10%;
}

.offset {
    margin-top: 150px;
}

p {
    color: #8C877C;
    font-size: 20px;
    margin: 0;
    font-weight: bold;

}

.pagination a{
    color: black;
}
