%footer.pb_footer.bg-light{:role => "contentinfo"}
  .container
    .row.text-center
      .col
        %ul.list-inline
          %li.list-inline-item
            %a.p-2{:href => "#"}
              %i.fa.fa-vk
          %li.list-inline-item
            %a.p-2{:href => "#"}
              %i.fa.fa-facebook
          %li.list-inline-item
            %a.p-2{:href => "#"}
              %i.fa.fa-telegram
    .row
      .col.text-center
        %p.pb_font-14
          © 2018
          = link_to 'HotStart', root_path
          All Rights Reserved.
          %br/
          Designed &amp; Developed by
          = link_to 'S.V.E.N team', 'https://gitlab.com/Infesiron/sven'
