#pb_loader.show.fullscreen
  %svg.circular{:height => "48px", :width => "48px"}
    %circle.path-bg{:cx => "24", :cy => "24", :fill => "none", :r => "22", :stroke => "#eeeeee", "stroke-width" => "4"}
    %circle.path{:cx => "24", :cy => "24", :fill => "none", :r => "22", :stroke => "#1d82ff", "stroke-miterlimit" => "10", "stroke-width" => "4"}
