%nav#pb-navbar.navbar.navbar-expand-lg.navbar-dark.pb_navbar.pb_scrolled-light
  .container
    %h6.navbar-brand{:href => "index.html"}
      %text#logoHotel.logo HotStar
    = image_tag "logo.png", width: 125, height: 125, id: "logoHotel-img"
    %button.navbar-toggler.ml-auto{"aria-controls" => "probootstrap-navbar", "aria-expanded" => "false", "aria-label" => "Toggle navigation", "data-target" => "#probootstrap-navbar", "data-toggle" => "collapse", :type => "button"}
      %span
        %i.ion-navicon
    #probootstrap-navbar.collapse.navbar-collapse
      %ul.navbar-nav.ml-auto
        %li.nav-item
          = link_to "Home", root_path, class: "nav-link"
        %li.nav-item
          = link_to "Hotels", hotels_path, class: "nav-link"
        - if user_signed_in?
          %li.nav-item
            = link_to "Add Hotel", new_hotel_path, class: "nav-link"
          %li.nav-item.cta-btn.ml-xl-2.ml-lg-2.ml-md-0.ml-sm-0.ml-0
            = link_to destroy_user_session_path, class: "nav-link", method: :delete do
              %span.pb_rounded-4.px-4 Logout
        - else
          %li.nav-item.cta-btn.ml-xl-2.ml-lg-2.ml-md-0.ml-sm-0.ml-0
            = link_to new_user_session_path, class: "nav-link" do
              %span.pb_rounded-4.px-4 Sign in/up

