.offset
%h1.text-center Hotels list
- @hotels.each do |hotel|
  .hotel-item
    .hotel-img
      = image_tag(hotel.photo.list.url || "no-image-hotels.png")

    .hotel-list
      %p= hotel.title
      = render "star_rating", stars: hotel.star_rating, blank_stars: hotel.blank_stars
      .price
        = "Price for room: #{hotel.price_for_room || "---"}$"
      = render "breakfast_included", included: hotel.breakfast_included
    = link_to "View details", hotel, class: "view-button"
.paginator-wrapper
  = paginate @hotels
