.row.align-items-center.justify-content-center
  .form--desc.rounded.pb_form_v1_landing
    .row
      - @hotels.each do |hotel|
        .col-2_5
          = image_tag (hotel.photo.landing.url || "no-image-landing.png"), width: 200, height: 200, class: "img-border"
          .stars
            = render "star_rating", stars: hotel.star_rating, blank_stars: hotel.blank_stars
          .hotels-label= hotel.title
