.offset
.col-md-12
  = form_for @hotel, html: { class: "bg-white pb_form_v1" } do |f|
    .registration-form.text-center
      %text.pb_text-gray-900 Adding Hotel
    %br/
    %ul#error_explanation
      - f.object.errors.full_messages.each do |message|
        %li= message
    .form-group
      1. What was the name of the hotel*
      = f.text_field :title, class: "form-control pb_height-50 reverse", placeholder: "Title"
    .form-group
      2. Breakfast included?
      %br/
      ._middle
        = f.check_box :breakfast_included, class: "checkbox-zoomer"
        = f.label :breakfast_included, "Yes,it's included"
    .form-group
      3. Do you like this?*
      %br/
      #reviewStars-input
        = f.radio_button :star_rating, 5, id: "star-4"
        %label{:for => "star-4", :title => "gorgeous"}
        = f.radio_button :star_rating, 4, id: "star-3"
        %label{:for => "star-3", :title => "good"}
        = f.radio_button :star_rating, 3, id: "star-2"
        %label{:for => "star-2", :title => "regular"}
        = f.radio_button :star_rating, 2, id: "star-1"
        %label{:for => "star-1", :title => "poor"}
        = f.radio_button :star_rating, 1, id: "star-0"
        %label{:for => "star-0", :title => "bad"}
      %br/
      %br/
      %br/
      .form-group
        .row
          .col-2
            .form-group
              4. Country
            .form-group
              5. State
            .form-group
              6. City
            .form-group
              7. Street
          .col-4
            = f.fields_for @address do |a|
              .form-group-address
                = a.text_field :country, placeholder: "Country", class: "form-control reverse"
              .form-group-address
                = a.text_field :state, placeholder: "State", class: "form-control reverse"
              .form-group-address
                = a.text_field :city, placeholder: "City", class: "form-control reverse"
              .form-group-address
                = a.text_field :street, placeholder: "Street", class: "form-control reverse"
      8. Room description
      = f.text_area :room_description, placeholder: "Room was...", class: "form-control reverse", rows: 6
    .form-group
      9. Choose photo
      = f.file_field :photo, accept: "image/png,image/jpeg,image/gif"
      %text.small
    .form-group
      10. Price for room
      = f.number_field :price_for_room, min: 0, placeholder: "0", class: "form-control-price reverse"
      $
    .form-group.div-center
      = f.submit "Add", class: "btn btn-danger btn-center btn-lg pb_btn-pill btn-shadow-blue"