.offset
.hotel-item-1
  %br/
  %p.card_title{:align => "center"}= @hotel.title
  .container
    .row
      .col-md-8
        .hotel-img-details
          = image_tag (@hotel.photo.details.url || "no-image-details.png")
      .col-md-4
        .bck_white
          = render "star_rating", stars: @hotel.star_rating, blank_stars: @hotel.blank_stars
          %p.price= (@hotel.price_for_room.to_s || "---") + "$/night"
          - if @hotel.address.present?
            %p.card_info_text Address:
            %p.card_info_text= "#{@hotel.address.country}, #{@hotel.address.state}"
            %p.card_info_text= "#{@hotel.address.city}, #{@hotel.address.street}"
          = render "breakfast_included", included: @hotel.breakfast_included
          %p
  .info_block
    %text= @hotel.room_description
    %div
    - if @comments.present?
      %div{ style: "margin-top: 20px"}
        %strong
          Comments:
      - @comments.each do |comment|
        .comment
          %div
            = "User: #{comment.user.email.partition("@").first}"
            = "Rating: #{comment.rating}"
            .pull-right
              = "Created at: #{comment.created_at.strftime("%F %T")}"
          %div
            = comment.message
      = paginate @comments

    = alert
    %div{style: "margin-top: 20px"}
    - if user_signed_in?
      = form_for [@hotel, @comment] do |f|
        Rate this hotel
        .form-group
          #reviewStars-input
            = f.radio_button :rating, 5, id: "star-4"
            %label{:for => "star-4", :title => "gorgeous"}
            = f.radio_button :rating, 4, id: "star-3"
            %label{:for => "star-3", :title => "good"}
            = f.radio_button :rating, 3, id: "star-2"
            %label{:for => "star-2", :title => "regular"}
            = f.radio_button :rating, 2, id: "star-1"
            %label{:for => "star-1", :title => "poor"}
            = f.radio_button :rating, 1, id: "star-0"
            %label{:for => "star-0", :title => "bad"}
          = f.text_area :message, placeholder: "Comment...", rows: 3, class: "form-control reverse"
          = f.hidden_field :hotel_id, value: @hotel.id

          = f.submit class: "btn btn-danger btn-center btn-lg btn-shadow-blue", value: "Add comment", style: "margin-top: 10px"
    - else
      .text-center Only registered users can rate hotels