!!!
%html{:lang => "en"}
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %meta{:charset => "utf-8"}/
    %meta{:content => "width=device-width, initial-scale=1, shrink-to-fit=no", :name => "viewport"}/
    %title HotStar
    = csrf_meta_tags
    = csp_meta_tag
    %link{:href => "https://fonts.googleapis.com/css?family=Crimson+Text:400,400i,600|Montserrat:200,300,400", :rel => "stylesheet"}/
    %link{:href => "https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css", :rel => "stylesheet"}/
    = stylesheet_link_tag    'bootstrap/bootstrap', media: 'all'
    = stylesheet_link_tag    'style', media: 'all'
    = stylesheet_link_tag    'landing-2', media: 'all'
    = stylesheet_link_tag    'hotel_card', media: 'all'
    = stylesheet_link_tag    'zhoraStyle', media: 'all'
    = stylesheet_link_tag    'hotels_page', media: 'all'
    = yield :additional_css
  %body{"data-offset" => "200", "data-spy" => "scroll", "data-target" => "#pb-navbar"}
    = render "layouts/components/navigation"
    %section#section-home.pb_cover_v3.cover-bd-red.cover-bg-opacity.text-left.pb_gradient_v1.pb_form_v1
      .container
        = yield

    = render "layouts/components/footer"
    = render "layouts/components/loader"

    = javascript_include_tag 'jquery.min'
    = javascript_include_tag 'popper.min'
    = javascript_include_tag 'bootstrap.min'
    = javascript_include_tag 'application'
    = javascript_include_tag 'jquery.easing.1.3'
    = javascript_include_tag 'main'
    = yield :additional_js
