!!!
%html{:lang => "en"}
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %meta{:charset => "utf-8"}/
    %meta{:content => "width=device-width, initial-scale=1, shrink-to-fit=no", :name => "viewport"}/
    %title HotStar
    = csrf_meta_tags
    = csp_meta_tag
    %link{:href => "https://fonts.googleapis.com/css?family=Crimson+Text:400,400i,600|Montserrat:200,300,400", :rel => "stylesheet"}/
    %link{:href => "https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css", :rel => "stylesheet"}/
    = stylesheet_link_tag    'bootstrap/bootstrap', media: 'all'
    = stylesheet_link_tag    'style', media: 'all'
    = stylesheet_link_tag    'landing-2', media: 'all'
    = stylesheet_link_tag    'hotel_card', media: 'all'
    = stylesheet_link_tag    'hotels_page', media: 'all'
    = stylesheet_link_tag    'zhoraStyle', media: 'all'
    = yield :additional_css
  %body{ style: "background-image:url('#{image_path("landing.jpg")}');width:100%;height:100%;border:1px solid black; background-repeat: no-repeat; background-size: cover;"}
    = render "layouts/components/navigation"
    .landing-words
      %h2{:style => "color:white"} Register, make your choice!
      .sub-heading
        %p.mb-4{:style => "color:white"}
          You can add visited hotels all over the world,
          %br
          and express your opinion about them
        %p.mb-5
          = link_to hotels_path, class: "btn btn-danger btn-lg pb_btn-pill smoothscroll" do
            %span.pb_font-14.text-uppercase.pb_letter-spacing-1 view added
    %h4.mb-4.landing-best-part{:style => "color: ghostwhite"} Best hotels in the world in your opinion
    %section#section-home.landing-main-part
    .landing-main-part
      .container
        = yield



    = render "layouts/components/footer"
    = render "layouts/components/loader"

    = javascript_include_tag 'jquery.min'
    = javascript_include_tag 'popper.min'
    = javascript_include_tag 'bootstrap.min'
    = javascript_include_tag 'application'
    = javascript_include_tag 'jquery.easing.1.3'
    = javascript_include_tag 'main'
    = yield :additional_js
