.row.align-content-between.justify-content-center
  .col-md-6.relative.align-self-center
    = form_for(resource, as: resource_name, url: registration_path(resource_name), html: { class: "bg-white pb_form_v1" }) do |f|
      .registration-form
        %tr
          %td
            = link_to new_user_session_path do
              %text.text-padding.pb_text-gray-400 Log in
          %td
            = link_to new_user_registration_path do
              %text.text-padding.pb_text-gray-900 Registration
        = devise_error_messages!
      %br/
      .form-group
        = f.email_field :email, autofocus: true, autocomplete: "email", placeholder: "Email", class: "form-control pb_height-50 reverse"
      .form-group
        = f.password_field :password, autocomplete: "off", placeholder: "Password", class: "form-control pb_height-50 reverse"
      .form-group
        = f.password_field :password_confirmation, autocomplete: "off", placeholder: "Confirm password", class: "form-control pb_height-50 reverse"
      .form-group
        = f.submit "Sign in", class: "btn btn-danger btn-lg btn-block pb_btn-pill btn-shadow-blue"